/chromedriver-win64
/AKUNTANSI CPNS 2025.xlsx
/ignore
/ignore/*
/Anali
Analisa Peluang CPNS.ipynb
Extracted Dataset/*
contoh.csv
contoh2.csv
data_scrap_googlemaps_\['Indomaret Hasan Basri', 'Alfamart', 'Abcde4ef']_02-02-2025_00-00-00.csv
